{
  "openapi": "3.0.0",
  "info": {
    "title": "Hong Kong Playgroup & Pre-Nursery API",
    "description": "REST API for Hong Kong playgroup and pre-nursery directory system",
    "version": "1.0.0",
    "contact": {
      "name": "System Administrator",
      "email": "admin@hkplaygroups.gov.hk"
    }
  },
  "servers": [
    {
      "url": "https://api.hkplaygroups.gov.hk/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.hkplaygroups.gov.hk/v1",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/institutions": {
      "get": {
        "summary": "Get list of institutions",
        "description": "Retrieve a paginated list of playgroups and pre-nursery institutions with filtering options",
        "tags": [
          "Institutions"
        ],
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by district"
          },
          {
            "name": "institution_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "playgroup",
                "pre_nursery",
                "nursery",
                "kindergarten"
              ]
            },
            "description": "Filter by institution type"
          },
          {
            "name": "age_group",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Child age in months"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language medium preference"
          },
          {
            "name": "fees_max",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Maximum fees per month"
          },
          {
            "name": "session_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "half_day_am",
                "half_day_pm",
                "whole_day"
              ]
            },
            "description": "Session type preference"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Institution"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "filters_applied": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new institution",
        "description": "Create a new playgroup or pre-nursery institution (admin only)",
        "tags": [
          "Institutions"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstitutionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Institution created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institution"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/institutions/{id}": {
      "get": {
        "summary": "Get institution details",
        "description": "Retrieve detailed information about a specific institution",
        "tags": [
          "Institutions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Institution ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionDetail"
                }
              }
            }
          },
          "404": {
            "description": "Institution not found"
          }
        }
      }
    },
    "/institutions/{id}/programs": {
      "get": {
        "summary": "Get institution programs",
        "description": "Retrieve all programs offered by a specific institution",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Institution ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Program"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/districts": {
      "get": {
        "summary": "Get all districts",
        "description": "Retrieve list of all Hong Kong districts",
        "tags": [
          "Districts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/District"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "post": {
        "summary": "Submit application",
        "description": "Submit an application for a program at an institution",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/reviews": {
      "post": {
        "summary": "Submit review",
        "description": "Submit a review for an institution",
        "tags": [
          "Reviews"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Advanced search",
        "description": "Perform advanced search with multiple criteria and get aggregated results",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "General search query"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Location-based search (address, district, or coordinates)"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 5
            },
            "description": "Search radius in kilometers (for location-based search)"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results with faceted filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Institution"
                      }
                    },
                    "facets": {
                      "type": "object",
                      "properties": {
                        "districts": {
                          "type": "object"
                        },
                        "institution_types": {
                          "type": "object"
                        },
                        "age_groups": {
                          "type": "object"
                        },
                        "fees_ranges": {
                          "type": "object"
                        }
                      }
                    },
                    "total_results": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Institution": {
        "type": "object",
        "properties": {
          "institution_id": {
            "type": "integer"
          },
          "school_no": {
            "type": "string"
          },
          "institution_name_en": {
            "type": "string"
          },
          "institution_name_zh": {
            "type": "string"
          },
          "institution_type": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "address_en": {
            "type": "string"
          },
          "address_zh": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "established_year": {
            "type": "integer"
          },
          "average_rating": {
            "type": "number"
          },
          "total_reviews": {
            "type": "integer"
          }
        }
      },
      "InstitutionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Institution"
          },
          {
            "type": "object",
            "properties": {
              "programs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Program"
                }
              },
              "facilities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Facility"
                }
              },
              "staff": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Staff"
                }
              },
              "recent_reviews": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        ]
      },
      "Program": {
        "type": "object",
        "properties": {
          "program_id": {
            "type": "integer"
          },
          "program_name_en": {
            "type": "string"
          },
          "program_name_zh": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "age_group_min": {
            "type": "integer"
          },
          "age_group_max": {
            "type": "integer"
          },
          "session_type": {
            "type": "string"
          },
          "language_medium": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "class_size": {
            "type": "integer"
          },
          "teacher_student_ratio": {
            "type": "string"
          },
          "fees_per_month": {
            "type": "number"
          },
          "application_fee": {
            "type": "number"
          },
          "registration_fee": {
            "type": "number"
          }
        }
      },
      "District": {
        "type": "object",
        "properties": {
          "district_id": {
            "type": "integer"
          },
          "district_code": {
            "type": "string"
          },
          "district_name_en": {
            "type": "string"
          },
          "district_name_zh": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "integer"
          },
          "institution_id": {
            "type": "integer"
          },
          "program_id": {
            "type": "integer"
          },
          "child_name_en": {
            "type": "string"
          },
          "child_dob": {
            "type": "string",
            "format": "date"
          },
          "parent_name": {
            "type": "string"
          },
          "parent_phone": {
            "type": "string"
          },
          "parent_email": {
            "type": "string"
          },
          "application_status": {
            "type": "string"
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "review_id": {
            "type": "integer"
          },
          "institution_id": {
            "type": "integer"
          },
          "parent_name": {
            "type": "string"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "title": {
            "type": "string"
          },
          "review_text": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "has_next": {
            "type": "boolean"
          },
          "has_previous": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}